@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>


    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        function jsonThongKeTheoLop(handleData) {
            $.ajax({
                url: "/Chart/GetJsonData",
                //data: JSON.stringify(dto),
                type: "GET",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: true,
                success: function (result) {
                        handleData(result);
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
            return false;
        }
    </script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", { packages: ["corechart"] });

        var tenLops = [];
        var soLuongSVs = [];
        var datas;
        jsonThongKeTheoLop(function (data) {
            $.each(data, function (i, item) {
                tenLops.push([item.TenLop].toString());
                soLuongSVs.push([item.SoLuongSV]);

                datas = data; // Dành cho biểu đồ cột
            });
            google.setOnLoadCallback(drawChartSv);
            google.setOnLoadCallback(drawChart);
        });

        function drawChartSv() {
            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'TenLop');
            data.addColumn('number', 'SoLuongSV');
            data.addRows(tenLops.length);
            for (var i = 0; i < tenLops.length; i++) {
                data.setCell(i, 0, tenLops[i] + ' (' + soLuongSVs[i] + ' sv)');
                data.setCell(i, 1, parseInt(soLuongSVs[i]));
            }
            // Set chart options
            var options = {
                'title': 'Thống kê số lượng SV',
                is3D: true
            };
            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }
        function drawChart() {
            var dataArray = [['Lớp', 'SL Sinh viên','Xếp hạng']];
            $.each(datas, function (i, item) {
                dataArray.push([item.TenLop, item.SoLuongSV, item.XepHang]);
            });
            var data = new google.visualization.arrayToDataTable(dataArray);
            var options = {
                title: 'So sánh số lượng SV',
                hAxis: { title: 'Lớp', titleTextStyle: { color: 'red' } }
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }

    </script>
</head>
<body>
    <h1>Tạo biểu đồ với Google chart trong MVC</h1>
    <div id="piechart" style="width: 900px; height: 500px;"></div>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
</body>
</html>